<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.citms.icw.mapper.UplogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="uplogResultMap" type="cn.citms.icw.entity.Uplog">
        <id column="id" property="id"/>
        <result column="upId" property="upId"/>
        <result column="upTime" property="upTime"/>
        <result column="source" property="source"/>
        <result column="remark" property="remark"/>
    </resultMap>


    <select id="selectUplogPage" resultMap="uplogResultMap">
        select * from sq_uplog where is_deleted = 0
    </select>

</mapper>
